/* Copyright (C) 1993-1998, Ghostgum Software Pty Ltd.  All rights reserved.
  
  This file is part of GSview.
  
  This program is distributed with NO WARRANTY OF ANY KIND.  No author
  or distributor accepts any responsibility for the consequences of using it,
  or for whether it serves any particular purpose or works at all, unless he
  or she says so in writing.  Refer to the GSview Free Public Licence 
  (the "Licence") for full details.
  
  Every copy of GSview must include a copy of the Licence, normally in a 
  plain ASCII text file named LICENCE.  The Licence grants you the right 
  to copy, modify and redistribute GSview, but only under certain conditions 
  described in the Licence.  Among other things, the Licence requires that 
  the copyright notice and this notice be preserved on all copies.
*/
/* os2setup.rc */
/* Resources for OS/2 installation program */

#include <os2.h>
#include "gvcver.h"
#include "os2setup.h"
#include "gvcrc.h"
#include "gvclang.h"

#ifndef ES_ANY	/* emx08g doesn't define this */
#define ES_ANY 0x00000000L
#endif

ICON ID_GSVIEW PRELOAD FIXED "binary/gvpm1.ico"
ICON ID_GHOSTSCRIPT PRELOAD FIXED "binary/gsos2.ico"

#define IDCANCEL DID_CANCEL

#define CHILD_W 280
#define CHILD_H 152
#define BUTTON_W 64
#define BUTTON_Y 10
#define BUTTON_XB 72
#define BUTTON_XN 136
#define BUTTON_XC 208
#define TEXT_W 260

DLGTEMPLATE IDD_MAIN PRELOAD FIXED
BEGIN
    DIALOG AAINSTALL1, IDD_MAIN, 16, 16, 342, 160, WS_VISIBLE | FS_DLGBORDER, FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
	ICON ID_GSVIEW, ID_GSVIEW, 14, 110, 16, 16, WS_GROUP
	CONTROL "GSview", -1, 8, 100, 40, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	ICON ID_GHOSTSCRIPT, ID_GHOSTSCRIPT, 14, 40, 20, 16, WS_GROUP
	CONTROL "Ghostscript", -1, 4, 30, 50, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
/* GROUPBOX "", -1, 46, 0, 1, 154, BS_GROUPBOX */
    END
END


DLGTEMPLATE IDD_INTRO PRELOAD FIXED
BEGIN
    DIALOG "", IDD_INTRO, 58, 4, CHILD_W , CHILD_H, WS_VISIBLE, 0
    BEGIN
	PUSHBUTTON AANEXTGT, IDNEXT, BUTTON_XN, BUTTON_Y, BUTTON_W, 14
	PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, BUTTON_W, 14
	CONTROL AAINSTALLINTRO1, -1, 8, 132, TEXT_W, 16, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL GSVIEW_PRODUCT, -1, 8, 120, TEXT_W, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL GSVIEW_DOT_VERSION, -1, 48, 120, 90, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL GS_PRODUCT, -1, 8, 108, TEXT_W, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL "", IDD_INTRO_T3, 128, 108, TEXT_W, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL AAINSTALLINTRO2, IDD_INTRO_T1, 8, 72, TEXT_W, 24, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL AAINSTALLINTRO3, IDD_INTRO_T2, 8, 36, TEXT_W, 24, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, BUTTON_W, 14, WS_DISABLED
    END
END

DLGTEMPLATE IDD_COPYRIGHT PRELOAD FIXED
BEGIN
    DIALOG "", IDD_COPYRIGHT, 58, 4, CHILD_W , CHILD_H, WS_VISIBLE, 0
    BEGIN
	PUSHBUTTON AANEXTGT, IDNEXT, BUTTON_XN, BUTTON_Y, BUTTON_W, 14
	PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, BUTTON_W, 14
	CONTROL AAINSTALLCOPYRIGHT1, -1, 8, 140, TEXT_W, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL AAINSTALLCOPYRIGHT2, IDD_COPYRIGHT_T1, 8, 128, TEXT_W+10, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL AAINSTALLCOPYRIGHT3, -1, 8, 120, TEXT_W, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL AAGSVIEWC, IDD_COPYRIGHT_T2, 8, 104, TEXT_W, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL GSVIEW_COPYRIGHT1, -1, 16, 96, TEXT_W, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL GSVIEW_COPYRIGHT2, -1, 16, 88, TEXT_W, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL GSVIEW_COPYRIGHT3, -1, 16, 80, TEXT_W, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL AAALADDINGSC, IDD_COPYRIGHT_T3, 8, 64, TEXT_W, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL GS_COPYRIGHT1, -1, 16, 56, TEXT_W, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL GS_COPYRIGHT2, -1, 16, 48, TEXT_W, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL GS_COPYRIGHT3, -1, 16, 40, TEXT_W, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, BUTTON_W, 14
    END
END

DLGTEMPLATE IDD_GSVER PRELOAD FIXED
BEGIN
    DIALOG "", IDD_GSVER, 58, 4, CHILD_W , CHILD_H, FS_BORDER | WS_VISIBLE, 0
    BEGIN
	PUSHBUTTON AANEXTGT, IDNEXT, BUTTON_XN, BUTTON_Y, BUTTON_W, 14
	CONTROL AAINSTALLGSVER2, PARTIAL_GSVIEW, 9, 124, 200, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP
	CONTROL AAINSTALLGSVER3, PARTIAL_GS, 9, 104, 200, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP
	CONTROL "", IDD_GSVER_TEXT, 8, 68, 40, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, BUTTON_W, 14
	CONTROL AAINSTALLGSVER1, -1, 6, 140, TEXT_W, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL AAINSTALLGSVER4, -1, 6, 84, TEXT_W, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL "", IDD_GSVER_SCROLL, 49, 67, 7, 12, WC_SCROLLBAR, SBS_VERT | SBS_THUMBSIZE | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, BUTTON_W, 14
    END
END

DLGTEMPLATE IDD_DIR PRELOAD FIXED
BEGIN
    DIALOG "", IDD_DIR, 58, 4, CHILD_W , CHILD_H, FS_BORDER | WS_VISIBLE, 0
    BEGIN
	PUSHBUTTON AANEXTGT, IDNEXT, BUTTON_XN, BUTTON_Y, BUTTON_W, 14
	CONTROL "", ID_ANSWER, 6, 114, TEXT_W, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, BUTTON_W, 14
	CONTROL AAINSTALLDIR1, -1, 6, 132, TEXT_W, 16, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL AAINSTALLDIR2, -1, 6, 88, TEXT_W, 16, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL GSVIEW_BASEDIR, -1, 16, 80, TEXT_W, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL AAINSTALLDIR3, -1, 6, 56, TEXT_W, 16, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL "XXXXX", IDD_DIR_GSVER, 16, 48, TEXT_W, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, BUTTON_W, 14
    END
END

DLGTEMPLATE IDD_MKDIR PRELOAD FIXED
BEGIN
    DIALOG "", IDD_MKDIR, 58, 4, CHILD_W , CHILD_H, FS_BORDER | WS_VISIBLE, 0
    BEGIN
	PUSHBUTTON AANEXTGT, IDNEXT, BUTTON_XN, BUTTON_Y, BUTTON_W, 14
	PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, BUTTON_W, 14
	CONTROL AAINSTALLMKDIR1, -1, 8, 140, TEXT_W, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL "XXXX", IDD_MKDIR_TEXT, 20, 124, TEXT_W, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL AAINSTALLMKDIR2, -1, 8, 104, TEXT_W, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, BUTTON_W, 14
    END
END

DLGTEMPLATE IDD_CONFIG PRELOAD FIXED
BEGIN
    DIALOG "", IDD_CONFIG, 58, 4, CHILD_W , CHILD_H, FS_BORDER | WS_VISIBLE, 0
    BEGIN
	PUSHBUTTON AANEXTGT, IDNEXT, BUTTON_XN, BUTTON_Y, BUTTON_W, 14
	CONTROL AAINSTALLCONFIGPM4, IDM_AUTOEXECBAT, 9, 62, 160, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP
	CONTROL AAINSTALLCONFIGPM5, IDM_AUTOEXECBAK, 9, 48, 160, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, BUTTON_W, 14
	CONTROL AAINSTALLCONFIGPM1, -1, 8, 124, TEXT_W, 24, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL AAINSTALLCONFIGPM2, -1, 8, 100, TEXT_W, 24, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL AAINSTALLCONFIGPM3, -1, 8, 76, TEXT_W, 24, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, BUTTON_W, 14
    END
END

DLGTEMPLATE IDD_FINISH PRELOAD FIXED
BEGIN
    DIALOG "", IDD_FINISH, 58, 4, CHILD_W , CHILD_H, FS_BORDER | WS_VISIBLE, 0
    BEGIN
	PUSHBUTTON AAFINISHGT, IDNEXT, BUTTON_XN, BUTTON_Y, BUTTON_W, 14
	PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, BUTTON_W, 14
	CONTROL AAPMOBJECT2, IDM_PROGMAN1, 16, 116, 250, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP
	CONTROL AAPMOBJECT1, -1, 8, 132, TEXT_W, 16, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL AAINSTALLFINISH, -1, 8, 72, TEXT_W, 16, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, BUTTON_W, 14
    END
END

DLGTEMPLATE IDD_TEXTWIN PRELOAD FIXED
BEGIN
    DIALOG "", IDD_TEXTWIN, 58, 4, CHILD_W , CHILD_H, FS_BORDER | WS_VISIBLE, 0
    BEGIN
	PUSHBUTTON AANEXTGT, IDNEXT, BUTTON_XN, BUTTON_Y, BUTTON_W, 14
	PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, BUTTON_W, 14
	PUSHBUTTON AACOPY, TEXTWIN_COPY, 4, BUTTON_Y, BUTTON_W, 14
	CONTROL "", TEXTWIN_MLE, 4, 32, 260, 106, WC_MLE, MLS_BORDER | MLS_READONLY | MLS_HSCROLL | MLS_VSCROLL | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	CONTROL AAINSTALLUNZIP1, -1, 8, 140, TEXT_W, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, BUTTON_W, 14, WS_DISABLED
    END
END

DLGTEMPLATE IDD_DONE PRELOAD FIXED
BEGIN
    DIALOG "", IDD_DONE, 58, 4, CHILD_W , CHILD_H, FS_BORDER | WS_VISIBLE, 0
    BEGIN
	PUSHBUTTON AAEXIT, IDNEXT, BUTTON_XN, BUTTON_Y, BUTTON_W, 14
	PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, BUTTON_W, 14, WS_DISABLED
	CONTROL AAINSTALLOK, -1, 8, 124, TEXT_W, 24, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL "", IDD_DONE_GROUP, 8, 96, TEXT_W, 16, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL "", IDD_DONE_BAK, 8, 64, TEXT_W, 24, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, BUTTON_W, 14
    END
END

DLGTEMPLATE IDD_FAILED PRELOAD FIXED
BEGIN
    DIALOG "", IDD_FAILED, 58, 4, CHILD_W , CHILD_H, FS_BORDER | WS_VISIBLE, 0
    BEGIN
	PUSHBUTTON AAEXIT, IDNEXT, BUTTON_XN, BUTTON_Y, BUTTON_W, 14
	PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, BUTTON_W, 14, WS_DISABLED
	CONTROL AAINSTALLFAILED, -1, 8, 132, TEXT_W, 16, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	CONTROL "", IDD_FAILED_REASON, 8, 88, TEXT_W, 40, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, BUTTON_W, 14
    END
END

DLGTEMPLATE IDD_FILE PRELOAD FIXED
BEGIN
   DIALOG AAINSTALLMISSING1, IDD_FILE, 18, 18, 240 , 64, WS_VISIBLE | FS_DLGBORDER, FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
	CONTROL AAINSTALLMISSING2, IDD_FILE_TEXT, 6, 42, 228, 16, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	PUSHBUTTON AAOK, DID_OK, 8, 8, 50, 14
	PUSHBUTTON AACANCEL, DID_CANCEL, 72, 8, 50, 14
	CONTROL "", ID_ANSWER, 8, 30, 224, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    END
END

DLGTEMPLATE IDD_LANG PRELOAD FIXED
BEGIN
	DIALOG AASELECTLANGUAGE, 100, 24, 48, 164, 130, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "English", IDM_LANGEN, 16, 108, 60, 14

		PUSHBUTTON "Catalan", IDM_LANGCT, 16, 88, 60, 14
		PUSHBUTTON "Deutsch", IDM_LANGDE, 16, 68, 60, 14
		PUSHBUTTON "Espaniol", IDM_LANGES, 16, 48, 60, 14
		PUSHBUTTON "Francais", IDM_LANGFR, 16, 28, 60, 14
		PUSHBUTTON "Italiano", IDM_LANGIT, 16, 8, 60, 14

		PUSHBUTTON "Greek", IDM_LANGGR, 92, 88, 60, 14
		PUSHBUTTON "Nederlands", IDM_LANGNL, 92, 68, 60, 14
		PUSHBUTTON "Russian", IDM_LANGRU, 92, 48, 60, 14
		PUSHBUTTON "Svenska", IDM_LANGSE, 92, 28, 60, 14
		PUSHBUTTON "Slovak", IDM_LANGSK, 92, 8, 60, 14
	END
END


STRINGTABLE PRELOAD FIXED
BEGIN
	IDS_DIRNOTEXIST AADIRNOTEXIST
	IDS_MKDIRFAIL AAMKDIRFAIL
	IDS_GSVIEWBASE GSVIEW_BASEDIR
	IDS_BETAWARN AABETAWARN
	IDS_PROGMANGROUP4 AAPROGMANGROUP4
	IDS_PROGMANGROUP6 AAPROGMANGROUP6
	IDS_DONEBAK AADONEBAK
	IDS_CANTLOAD AACANTLOAD
	IDS_CANTCREATETEMPFILE AACANTCREATETEMPFILE
	IDS_CANTOPENREAD AACANTOPENREAD
	IDS_CANTOPENWRITE AACANTOPENWRITE
	IDS_ERRORRENAME AAERRORRENAME
	IDS_INSERTDISK AAINSERTDISK
	IDS_ZIPNOTFOUND AAZIPNOTFOUND
	IDS_UNZIPCANCELLED AAUNZIPCANCELLED
	IDS_CANTALLOCBUF AACANTALLOCBUF
	IDS_PROGRAMOBJECTFAILED AAPROGRAMOBJECTFAILED
END
