/* Copyright (C) 1995-1998, Ghostgum Software Pty Ltd.  All rights reserved.
  
  This file is part of GSview.
  
  This program is distributed with NO WARRANTY OF ANY KIND.  No author
  or distributor accepts any responsibility for the consequences of using it,
  or for whether it serves any particular purpose or works at all, unless he
  or she says so in writing.  Refer to the GSview Free Public Licence 
  (the "Licence") for full details.
  
  Every copy of GSview must include a copy of the Licence, normally in a 
  plain ASCII text file named LICENCE.  The Licence grants you the right 
  to copy, modify and redistribute GSview, but only under certain conditions 
  described in the Licence.  Among other things, the Licence requires that 
  the copyright notice and this notice be preserved on all copies.
*/

/* gsv16spl.rc */
/* Resources for GSV16SPL.EXE, 16-bit access to print spooler */
/* 1995-11-23 */

#include <windows.h>
#ifndef _Windows
#define _Windows
#endif
#include "gvclang.h"

#define ID_GSV16SPL 42
#define ABOUT_ICON 201

ID_GSV16SPL ICON "binary/gvwin1.ico"

AboutDlgBox DIALOG 20, 32, 256, 164
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CAPTION AAABOUTGSV16SPL
Font 8, "Helv"
BEGIN
	CONTROL AAOK, IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 218, 5, 32, 14
	LTEXT "GSV16SPL.EXE", -1, 32, 8, 64, 8
	RTEXT AACOPY1, -1, 86, 8, 32, 8
	LTEXT "0.1  1995-11-10", -1, 120, 8, 96, 8
	LTEXT AACOPY22, -1, 32, 16, 180, 8
	LTEXT GSVIEW_COPYRIGHT1, -1, 8, 28, 148, 8
	LTEXT GSVIEW_COPYRIGHT2, -1, 158, 28, 72, 8
	LTEXT AACOPY21, -1, 7, 40, 240, 8
	LTEXT AACOPY4, -1, 7, 48, 240, 8
	LTEXT AACOPY5, -1, 7, 56, 240, 8
	LTEXT AACOPY6, -1, 7, 64, 240, 8
	LTEXT AACOPY7, -1, 7, 72, 240, 8
	LTEXT AACOPY8, -1, 7, 80, 240, 8
	LTEXT AACOPY9, -1, 7, 92, 240, 8
	LTEXT AACOPY10, -1, 7, 100, 240, 8
	LTEXT AACOPY11, -1, 7, 108, 240, 8
	LTEXT AACOPY12, -1, 7, 116, 240, 8
	LTEXT AACOPY13, -1, 7, 124, 240, 8
	LTEXT AACOPY14, -1, 7, 132, 240, 8
	LTEXT AACOPY19, -1, 8, 146, 240, 8
	ICON ID_GSV16SPL, ABOUT_ICON, 8, 8, 0, 0
END

