/* Copyright (C) 1993-2000, Ghostgum Software Pty Ltd.  All rights reserved.
  
  This file is part of GSview.
  
  This program is distributed with NO WARRANTY OF ANY KIND.  No author
  or distributor accepts any responsibility for the consequences of using it,
  or for whether it serves any particular purpose or works at all, unless he
  or she says so in writing.  Refer to the GSview Free Public Licence 
  (the "Licence") for full details.
  
  Every copy of GSview must include a copy of the Licence, normally in a 
  plain ASCII text file named LICENCE.  The Licence grants you the right 
  to copy, modify and redistribute GSview, but only under certain conditions 
  described in the Licence.  Among other things, the Licence requires that 
  the copyright notice and this notice be preserved on all copies.
*/

/* gvwin2.rc */
/* Resources for GSVWXX.DLL, which contains the language dependent */
/* resources for MS-Windows Ghostscript */

#ifndef GVWIN1
#include <windows.h>
#ifndef _Windows
#define _Windows
#endif
#include "gvcrc.h"
#endif

#ifndef DS_3DLOOK
#define DS_3DLOOK 0x0004L	/* for Windows 95 look */
#endif
#ifndef DS_CONTEXTHELP
#define DS_CONTEXTHELP 0x2000L
#endif
#ifndef ES_NUMBER
#define ES_NUMBER 0x2000L
#endif
#ifndef SS_CENTERIMAGE
#define SS_CENTERIMAGE 0x0200L
#endif

#include "gvclang.h"
#define GSVIEW_RCDATA(x) x RCDATA 
#include "gvwlang.rc"
#include "gvclang.rc"


#ifndef GVWIN1
ID_GSVIEW ICON "binary/gvwin1.ico"
#endif

STRINGTABLE
BEGIN
	IDS_UNINSTALLTITLE, AAUNINSTALLTITLE
	IDS_UNINSTALLITEM, AAUNINSTALLITEM
END

/* For Greek dialogs, need to use MS Shell Dlg, not MS Sans Serif */

IDD_ABOUT DIALOG 16, 16, 300, 200
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION AAABOUTWIN
FONT 8, "MS Shell Dlg"
{
 DEFPUSHBUTTON AAOK, IDOK, 250, 5, 44, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD
#ifdef __WIN32__
 LTEXT "GSVIEW32.EXE", -1, 32, 8, 64, 8
#else
 LTEXT "GSVIEW16.EXE", -1, 32, 8, 64, 8
#endif
 RTEXT AACOPY1, -1, 86, 8, 44, 8
 LTEXT GSVIEW_DOT_VERSION, -1, 132, 8, 38, 8
 LTEXT GSVIEW_DATE, -1, 170, 8, 44, 8
 LTEXT AACOPY2, -1, 32, 16, 170, 8
 LTEXT GSVIEW_COPYRIGHT1, -1, 8, 28, 220, 8
 LTEXT GSVIEW_COPYRIGHT2, -1, 8, 36, 284, 8
 LTEXT AACOPY4, -1, 7, 48, 284, 8
 LTEXT AACOPY5, -1, 7, 56, 284, 8
 LTEXT AACOPY6, -1, 7, 64, 284, 8
 LTEXT AACOPY7, -1, 7, 72, 284, 8
 LTEXT AACOPY8, -1, 7, 80, 284, 8
 LTEXT AACOPY9, -1, 7, 92, 284, 8
 LTEXT AACOPY10, -1, 7, 100, 284, 8
 LTEXT AACOPY11, -1, 7, 108, 284, 8
 LTEXT AACOPY12, -1, 7, 116, 284, 8
 LTEXT AACOPY13, -1, 7, 124, 284, 8
 LTEXT AACOPY14, -1, 7, 132, 284, 8
#ifdef __WIN32__
 LTEXT AACOPY15, -1, 8, 144, 284, 8
#else
 LTEXT AACOPY17, -1, 8, 144, 284, 8
#endif
 LTEXT AACOPY18, -1, 8, 152, 284, 8
 LTEXT AACOPY19, -1, 8, 164, 284, 8
 ICON ID_GSVIEW, ABOUT_ICON, 8, 8, 18, 20
 RTEXT AAREGTOC, -1, 8, 176, 66, 8 
 LTEXT "", NAG_NAME, 82, 176, 160, 8 
 RTEXT AANUMBERC, -1, 8, 184, 66, 8 
 LTEXT "", NAG_RECEIPT, 82, 184, 100, 8 
}

IDD_INPUT DIALOG 48, 32, 192, 66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION AAINPUT
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "", ID_PROMPT, 6, 6, 180, 20
	CONTROL "", ID_ANSWER, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP | WS_CHILD, 6, 28, 180, 12
	CONTROL AAOK, IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 16, 46, 44, 14
	CONTROL AACANCEL, IDCANCEL, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 76, 46, 44, 14
	CONTROL AAHELP, ID_HELP, "button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 136, 46, 44, 14
END

IDD_INFO DIALOG 20, 32, 252, 107
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION AAINFO
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL AAOK, IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 160, 88, 44, 14
	RTEXT AAFILEC, -1, 24, 8, 48, 8
	LTEXT "", INFO_FILE, 76, 8, 172, 8
	RTEXT AATYPEC, -1, 24, 16, 48, 8
	LTEXT "", INFO_TYPE, 76, 16, 172, 8
	RTEXT AATITLEC, -1, 24, 24, 48, 8
	LTEXT "", INFO_TITLE, 76, 24, 172, 8
	RTEXT AADATEC, -1, 24, 32, 48, 8
	LTEXT "", INFO_DATE, 76, 32, 172, 8
	RTEXT AABOUNDINGBOXC, -1, 8, 40, 64, 8
	LTEXT "", INFO_BBOX, 76, 40, 172, 8
	RTEXT AAORIENTATIONC, -1, 8, 48, 64, 8
	LTEXT "", INFO_ORIENT, 76, 48, 172, 8
	RTEXT AADEFAULTMEDIAC, -1, 8, 64, 64, 8
	LTEXT "", INFO_DEFMEDIA, 76, 64, 172, 8
	RTEXT AAPAGEORDERC, -1, 8, 56, 64, 8
	LTEXT "", INFO_ORDER, 76, 56, 172, 8
	RTEXT AAPAGESC, -1, 8, 72, 64, 8
	LTEXT "", INFO_NUMPAGES, 76, 72, 172, 8
	RTEXT AAPAGEC, -1, 8, 80, 64, 8
	LTEXT "", INFO_PAGE, 76, 80, 80, 8
	RTEXT AABITMAPC, -1, 8, 92, 64, 8, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "", INFO_BITMAP, 76, 92, 80, 8
	ICON ID_GSVIEW, INFO_ICON, 8, 8, 0, 0
END



IDD_SOUND DIALOG 16, 40, 254, 102
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION AASOUNDS
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL AAOK, IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 200, 12, 44, 14
	CONTROL AACANCEL, IDCANCEL, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 200, 32, 44, 14
	CONTROL AATEST, SOUND_TEST, "button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 200, 52, 44, 14
	CONTROL AAHELP, ID_HELP, "button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 200, 72, 44, 14
	LTEXT AAEVENTC, -1, 8, 4, 48, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", SOUND_EVENT, "LISTBOX", LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 8, 16, 76, 72
	LTEXT AASOUNDC, -1, 98, 4, 48, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", SOUND_FILE, "LISTBOX", LBS_STANDARD | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 98, 16, 88, 72
	LTEXT "", SOUND_PATH, 98, 90, 70, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
END

IDD_SPOOL DIALOG 32, 40, 140, 63
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION AASELECTPORT
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL AAOK, IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 88, 14, 44, 14
	CONTROL AACANCEL, IDCANCEL, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 88, 36, 44, 14
	CONTROL "", SPOOL_PORT, "LISTBOX", LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 8, 8, 64, 50
END

IDD_QUEUE DIALOG 32, 40, 294, 64
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION AASELECTPRINTER
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL AAOK, IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 240, 14, 44, 14
	CONTROL AACANCEL, IDCANCEL, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 240, 36, 44, 14
	CONTROL "", SPOOL_PORT, "LISTBOX", LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 8, 8, 220, 56
END

IDD_CANCEL DIALOG 32, 40, 120, 48
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | DS_3DLOOK
FONT 8, "MS Shell Dlg"
BEGIN
	CTEXT AAPRINTING, -1, 8, 4, 104, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CTEXT "", CANCEL_PCDONE, 8, 16, 104, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL AACANCEL, IDCANCEL, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 36, 30, 44, 14
END

IDD_PAGE DIALOG 64, 32, 128, 150
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION AASELECTPAGE
FONT 8, "MS Shell Dlg"
{
 EDITTEXT PAGE_EDIT, 8, 8, 60, 12
 LISTBOX PAGE_LIST, 8, 24, 60, 120, LBS_NOTIFY | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 DEFPUSHBUTTON AAOK, IDOK, 76, 8, 44, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON AACANCEL, IDCANCEL, 76, 32, 44, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
}


IDD_MULTIPAGE DIALOG 64, 32, 128, 154
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION AASELECTPAGES
FONT 8, "MS Shell Dlg"
{
 LISTBOX PAGE_LIST, 8, 8, 60, 128, LBS_NOTIFY | LBS_MULTIPLESEL | LBS_EXTENDEDSEL | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 CHECKBOX AAREVERSE, PAGE_REVERSE, 8, 140, 96, 10, BS_AUTOCHECKBOX | WS_TABSTOP
 DEFPUSHBUTTON AAOK, IDOK, 76, 8, 44, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON AACANCEL, IDCANCEL, 76, 32, 44, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON AAALL, PAGE_ALL, 76, 64, 44, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON AAODD, PAGE_ODD, 76, 88, 44, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON AAEVEN, PAGE_EVEN, 76, 112, 44, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
}


IDD_PROP DIALOG 16, 40, 266, 118
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION AAPROPERTIES
FONT 8, "MS Shell Dlg"
BEGIN
 DEFPUSHBUTTON AAOK, IDOK, 208, 12, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD
 PUSHBUTTON AACANCEL, IDCANCEL, 208, 32, 50, 14, BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD
 PUSHBUTTON AAHELP, ID_HELP, 208, 52, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON AAEDIT, PROP_EDIT, 208, 72, 50, 14
 PUSHBUTTON AANEW, PROP_NEW, 208, 92, 50, 14
 LTEXT AAPROPERTYC, -1, 8, 4, 48, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 COMBOBOX PROP_NAME, 8, 16, 106, 70, CBS_SIMPLE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 LTEXT AAVALUEC, -1, 126, 4, 48, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 COMBOBOX PROP_VALUE, 126, 16, 68, 70, CBS_SIMPLE | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
 RTEXT AAPAGEOFFSETPT, -1, 8, 100, 94, 8
 LTEXT AAXC, -1, 118, 100, 12, 8
 EDITTEXT PROP_XOFFSET, 130, 98, 20, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT AAYC, -1, 162, 100, 12, 8
 EDITTEXT PROP_YOFFSET, 174, 98, 20, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
END

IDD_EDITPROP DIALOG 6, 15, 200, 134
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION AAEDITPROPERTIES
FONT 8, "MS Shell Dlg"
{
 GROUPBOX AAPROPERTYTYPEC, -1, 6, 7, 130, 24, BS_GROUPBOX | WS_GROUP
 CONTROL AANUMBER, EDITPROP_NUMBER, "BUTTON", BS_AUTORADIOBUTTON | WS_TABSTOP, 12, 16, 54, 12
 CONTROL AASTRING, EDITPROP_STRING, "BUTTON", BS_AUTORADIOBUTTON, 70, 16, 60, 12
 LTEXT AANAMEC, -1, 8, 42, 149, 8, WS_GROUP
 EDITTEXT EDITPROP_NAME, 8, 54, 182, 12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
 LTEXT AAVALUESC, -1, 8, 75, 149, 8
 EDITTEXT EDITPROP_VALUE, 8, 87, 182, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 DEFPUSHBUTTON AAOK, IDOK, 12, 109, 50, 14
 PUSHBUTTON AACANCEL, IDCANCEL, 75, 109, 50, 14
 PUSHBUTTON AAHELP, ID_HELP, 138, 109, 50, 14
 PUSHBUTTON AADELETE, EDITPROP_DEL, 142, 14, 50, 14
}

IDD_UNIPRINT DIALOG 64, 32, 300, 182
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Uniprint"
FONT 8, "MS Shell Dlg"
{
 LISTBOX UPP_LIST, 8, 8, 280, 136, LBS_STANDARD | LBS_DISABLENOSCROLL | WS_HSCROLL | WS_TABSTOP
 DEFPUSHBUTTON AAOK, IDOK, 10, 162, 44, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON AACANCEL, IDCANCEL, 70, 162, 44, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON AAHELP, ID_HELP, 240, 162, 44, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 LTEXT "upp_name", UPP_NAME, 10, 147, 180, 10
}

IDD_BBOX DIALOG 12, 24, 120, 15
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | WS_EX_TOPMOST | DS_3DLOOK
CAPTION AABOUNDINGBOX
FONT 8, "MS Shell Dlg"
BEGIN
	CTEXT "", BB_PROMPT, 4, 4, 112, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
END

IDD_INSTALL DIALOG 48, 32, 258, 168
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION AACONFIGUREGS
FONT 8, "MS Shell Dlg"
{
 LTEXT AAGHOSTSCRIPTDLLC, -1, 6, 10, 180, 10
 EDITTEXT INSTALL_DLL, 6, 20, 180, 12, ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP | WS_CHILD
 LTEXT AAGHOSTSCRIPTINCC, -1, 6, 40, 180, 10
 EDITTEXT INSTALL_INCLUDE, 6, 50, 180, 12, ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP | WS_CHILD
 LTEXT AAGHOSTSCRIPTOTHERC, -1, 8, 70, 180, 10
 EDITTEXT INSTALL_OTHER, 6, 80, 180, 12, ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP | WS_CHILD
 DEFPUSHBUTTON AAOK, IDOK, 200, 10, 52, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD
 PUSHBUTTON AACANCEL, IDCANCEL, 200, 32, 52, 14, BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD
 PUSHBUTTON AADEFAULTS, ID_DEFAULT, 200, 54, 52, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON AAHELP, ID_HELP, 200, 76, 52, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 CHECKBOX AACOPYPRINTERDEF, IDC_CONFIGADV_PRINTER, 8, 100, 220, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX AACREATESTARTMENU, IDC_CONFIGADV_START, 8, 116, 220, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX AAASSOCIATEPS, IDC_CONFIGADV_PS, 8, 132, 220, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX AAASSOCIATEPDF, IDC_CONFIGADV_PDF, 8, 148, 220, 12, BS_AUTOCHECKBOX | WS_TABSTOP
}

IDD_TEXTWIN DIALOG 24, 15, 308, 194
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION AAGSMESSWIN
FONT 8, "MS Shell Dlg"
BEGIN
 DEFPUSHBUTTON AAOK, IDOK, 8, 174, 50, 14
 PUSHBUTTON AACOPY, TEXTWIN_COPY, 126, 174, 50, 14
 PUSHBUTTON AAHELP, ID_HELP, 186, 174, 50, 14
 EDITTEXT TEXTWIN_MLE, 8, 8, 290, 160, ES_MULTILINE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
END

IDD_DSET DIALOG 24, 15, 232, 112
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION AADISPLAYSETTINGS
FONT 8, "MS Shell Dlg"
{
 DEFPUSHBUTTON AAOK, IDOK, 8, 90, 50, 14
 PUSHBUTTON AACANCEL, IDCANCEL, 88, 90, 50, 14
 PUSHBUTTON AAHELP, ID_HELP, 164, 90, 50, 14
 LTEXT AARESOLUTION, -1, 8, 8, 80, 8
 LTEXT AAZOOMRESOLUTION, -1, 8, 24, 80, 8
 LTEXT AADEPTH, -1, 8, 40, 80, 8
 LTEXT AATEXTALPHA, -1, 8, 56, 80, 8
 LTEXT AAGRAPHICSALPHA, -1, 8, 72, 80, 8
 EDITTEXT DSET_RES, 96, 6, 64, 12, WS_BORDER | WS_TABSTOP
 EDITTEXT DSET_ZOOMRES, 96, 22, 64, 12, WS_BORDER | WS_TABSTOP
 COMBOBOX DSET_DEPTH, 96, 38, 65, 60, CBS_DROPDOWNLIST | WS_TABSTOP
 COMBOBOX DSET_TALPHA, 96, 54, 65, 40, CBS_DROPDOWNLIST | WS_TABSTOP
 COMBOBOX DSET_GALPHA, 96, 70, 65, 40, CBS_DROPDOWNLIST | WS_TABSTOP
 LTEXT AADPI, -1, 168, 8, 60, 8
 LTEXT AADPI, -1, 168, 23, 60, 8
 LTEXT AABPP, -1, 168, 40, 60, 8
 LTEXT AABITS, -1, 168, 56, 60, 8
 LTEXT AABITS, -1, 168, 72, 60, 8
}


IDD_PSTOEPS DIALOG 6, 15, 244, 64
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION AAPSTOEPS
FONT 8, "MS Shell Dlg"
{
 DEFPUSHBUTTON AAYES, IDYES, 184, 6, 50, 14
 PUSHBUTTON AANO, IDNO, 184, 24, 50, 14
 PUSHBUTTON AAHELP, ID_HELP, 184, 42, 50, 14
 AUTOCHECKBOX AAPSTOEPSAUTO, PSTOEPS_AUTOBBOX, 14, 44, 148, 10
 LTEXT AAPSTOEPSREAD, -1, 15, 9, 130, 16
}

IDD_LANG DIALOG 16, 16, 144, 100
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION AASELECTLANGUAGE
FONT 8, "MS Shell Dlg"
{
}



IDD_PSTOEDIT DIALOG 6, 15, 260, 206
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | 0x4L
CAPTION AAPSTOEDIT
FONT 8, "MS Shell Dlg"
{
 DEFPUSHBUTTON AAOK, IDOK, 12, 185, 50, 14
 PUSHBUTTON AACANCEL, IDCANCEL, 72, 185, 50, 14
 PUSHBUTTON AAHELP, ID_HELP, 132, 185, 50, 14
 LISTBOX EDIT_FORMAT, 9, 18, 241, 85, LBS_STANDARD | WS_TABSTOP
 LTEXT AAFORMATC, -1, 9, 7, 60, 8
 CHECKBOX AADRAWTASP, EDIT_DT, 8, 108, 239, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX AAMAPTOLATIN1, EDIT_LATIN1, 8, 120, 237, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 LTEXT AAFLATNESSC, -1, 8, 134, 60, 8
 EDITTEXT EDIT_FLAT, 72, 132, 166, 12
 LTEXT AADEFAULTFONTC, -1, 8, 150, 60, 8
 EDITTEXT EDIT_FONT, 72, 148, 166, 12
 LTEXT AADRIVEROPTIONSC, -1, 8, 164, 60, 8
 EDITTEXT EDIT_OPTION, 72, 163, 166, 12
}

IDD_MEASURE DIALOG 24, 24, 136, 72
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | WS_EX_TOPMOST | DS_3DLOOK
CAPTION AAMEASURE
FONT 8, "MS Shell Dlg"
{
 PUSHBUTTON AACHANGE, IDM_MEASURE_CALC, 88, 2, 42, 14
 LTEXT AAUNITC, -1, 8, 4, 36, 8
 LTEXT AASTARTC, -1, 8, 24, 36, 8
 LTEXT AAFINISHC, -1, 8, 36, 36, 8
 LTEXT AADELTAC, -1, 8, 48, 36, 8
 LTEXT AALENGTHC, -1, 8, 60, 36, 8
 LTEXT "name", IDC_MEASURE_UNIT, 46, 4, 40, 8
 RTEXT "X", IDC_MEASURE_LASTX, 46, 24, 40, 8
 RTEXT "X", IDC_MEASURE_X, 46, 36, 40, 8
 RTEXT "X", IDC_MEASURE_DELTAX, 46, 48, 40, 8
 RTEXT "radius", IDC_MEASURE_RADIUS, 46, 60, 40, 8
 RTEXT "Y", IDC_MEASURE_LASTY, 88, 24, 40, 8
 RTEXT "Y", IDC_MEASURE_Y, 88, 36, 40, 8
 RTEXT "Y", IDC_MEASURE_DELTAY, 88, 48, 40, 8
 RTEXT "angle", IDC_MEASURE_ANGLE, 88, 60, 40, 8
 LTEXT "\260", -1, 128, 60, 4, 8
}

IDD_CALC DIALOG 24, 24, 206, 207
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION AACALCXFORM
FONT 8, "MS Shell Dlg"
{
 CONTROL AAPT, IDC_CALCPTS, "Button", BS_AUTORADIOBUTTON, 12, 12, 40, 10
 CONTROL AAMM, IDC_CALCMM, "Button", BS_AUTORADIOBUTTON, 54, 12, 44, 10
 CONTROL AAINCH, IDC_CALCIN, "Button", BS_AUTORADIOBUTTON, 100, 12, 40, 10
 CONTROL AACUSTOM, IDC_CALCCUST, "Button", BS_AUTORADIOBUTTON, 142, 12, 60, 10
 EDITTEXT IDC_CALCTX, 20, 96, 48, 12, ES_AUTOHSCROLL | WS_DISABLED
 EDITTEXT IDC_CALCTY, 78, 96, 48, 12, ES_AUTOHSCROLL | WS_DISABLED
 PUSHBUTTON AATRANSLATE, IDC_CALCTR, 137, 95, 50, 14, WS_DISABLED
 EDITTEXT IDC_CALCROTTH, 78, 116, 48, 12, ES_AUTOHSCROLL | WS_DISABLED
 PUSHBUTTON AAROTATE, IDC_CALCRO, 136, 115, 50, 14, WS_DISABLED
 EDITTEXT IDC_CALCSCX, 20, 136, 48, 12, ES_AUTOHSCROLL | WS_DISABLED
 EDITTEXT IDC_CALCSCY, 78, 136, 48, 12, ES_AUTOHSCROLL | WS_DISABLED
 PUSHBUTTON AASCALE, IDC_CALCSC, 136, 135, 50, 14, WS_DISABLED
 PUSHBUTTON AAINITMATRIX, IDC_CALCINI, 20, 155, 76, 14, WS_DISABLED
 PUSHBUTTON AAINVERTMATRIX, IDC_CALCINV, 110, 155, 76, 14, WS_DISABLED
 PUSHBUTTON AAOK, IDOK, 12, 184, 50, 14
 PUSHBUTTON AACANCEL, IDCANCEL, 76, 184, 50, 14
 LTEXT "CTM", -1, 12, 30, 40, 12
 EDITTEXT IDC_CALCCTMA, 16, 44, 48, 12, ES_AUTOHSCROLL | WS_TABSTOP
 EDITTEXT IDC_CALCCTMB, 74, 44, 48, 12, ES_AUTOHSCROLL | WS_TABSTOP
 EDITTEXT IDC_CALCCTMC, 16, 60, 48, 12, ES_AUTOHSCROLL | WS_TABSTOP
 EDITTEXT IDC_CALCCTMD, 74, 60, 48, 12, ES_AUTOHSCROLL | WS_TABSTOP
 EDITTEXT IDC_CALCCTMTX, 144, 44, 48, 12, ES_AUTOHSCROLL | WS_TABSTOP
 EDITTEXT IDC_CALCCTMTY, 144, 60, 48, 12, ES_AUTOHSCROLL | WS_TABSTOP
 PUSHBUTTON AAHELP, ID_HELP, 138, 184, 50, 14
 GROUPBOX AACUSTOM, -1, 8, 84, 190, 92, BS_GROUPBOX
 CONTROL "", -1, "static", SS_GRAYFRAME | WS_CHILD | WS_VISIBLE, 9, 40, 119, 36
 CONTROL "", -1, "static", SS_GRAYFRAME | WS_CHILD | WS_VISIBLE, 138, 40, 59, 36
}


IDD_EASYCFG DIALOG 6, 15, 194, 119
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION AAEASYCONFIGURE
FONT 8, "MS Shell Dlg"
{
 DEFPUSHBUTTON AAOK, IDOK, 12, 96, 50, 14
 PUSHBUTTON AACANCEL, IDCANCEL, 72, 96, 50, 14
 PUSHBUTTON AAHELP, ID_HELP, 132, 96, 50, 14
 LTEXT AAWHICHGS, -1, 12, 13, 166, 21
 LISTBOX IDC_GSVER, 24, 32, 40, 60, LBS_STANDARD
}


IDD_DOWNLOAD DIALOG 6, 15, 220, 96
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION AADOWNLOADGS
FONT 8, "MS Shell Dlg"
{
 DEFPUSHBUTTON AADOWNLOADNOW, IDOK, 12, 72, 68, 14
 PUSHBUTTON AACANCEL, IDCANCEL, 92, 72, 50, 14
 PUSHBUTTON AAHELP, ID_HELP, 152, 72, 50, 14
 LTEXT AAGSNOTFOUND, -1, 8, 6, 204, 26
 CONTROL "http://www.cs.wisc.edu/~ghost/", -1, "EDIT", ES_READONLY | WS_BORDER | WS_TABSTOP, 20, 38, 148, 14
}

IDD_DSCERROR DIALOG 24, 15, 308, 154
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION AADSC
FONT 8, "MS Shell Dlg"
BEGIN
 PUSHBUTTON AAOK, IDOK, 8, 134, 50, 14
 PUSHBUTTON AACANCEL, IDCANCEL, 68, 134, 50, 14
 PUSHBUTTON AAIGNOREALLDSC, DSC_IGNORE_ALL, 128, 134, 112, 14
 PUSHBUTTON AAHELP, ID_HELP, 250, 134, 50, 14
 LTEXT "text" , DSC_STATIC_TEXT, 8, 8, 290 , 120
END

IDD_NAG DIALOG 24, 15, 260, 102
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION AAGSVIEWREG
FONT 8, "MS Shell Dlg"
BEGIN
 DEFPUSHBUTTON AAOK, IDOK, 8, 84, 50, 14
 PUSHBUTTON AAREGISTERNOW, NAG_REGISTER, 68, 84, 70, 14
 PUSHBUTTON AAHELP, ID_HELP, 202, 84, 50, 14
 LTEXT AANAG1, -1, 32, 8, 250, 8
 LTEXT AANAG2, -1, 32, 16, 250, 8
 LTEXT AANAG3, -1, 32, 24, 250, 8
 LTEXT AANAG4, -1, 32, 32, 250, 8
 LTEXT AANAG5, -1, 32, 40, 250, 8
 RTEXT AAREGTOC, -1, 8, 56, 66, 8 
 LTEXT "", NAG_NAME, 82, 56, 160, 8 
 RTEXT AANUMBERC, -1, 8, 64, 66, 8 
 LTEXT "", NAG_RECEIPT, 82, 64, 100, 8 
 ICON ID_GSVIEW, NAG_ICON, 8, 8, 18, 20
END


IDD_REG DIALOG 24, 15, 240, 110
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION AAGSVIEWREG
FONT 8, "MS Shell Dlg"
{
 EDITTEXT REGDLG_NAME, 82, 33, 150, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT REGDLG_RECEIPT, 82, 50, 40, 12
 EDITTEXT REGDLG_NUMBER, 134, 50, 40, 12
 CTEXT "-", -1, 124, 52, 8, 8
 DEFPUSHBUTTON AAOK, IDOK, 8, 92, 50, 14
 PUSHBUTTON AACANCEL, IDCANCEL, 68, 92, 50, 14
 PUSHBUTTON AAHELP, ID_HELP, 184, 92, 50, 14
 PUSHBUTTON AAONLINEREG, REGDLG_ONLINE, 8, 70, 80, 14
 LTEXT AAREG1, -1, 32, 8, 200, 8
 LTEXT AAREG2, -1, 32, 16, 200, 8
 RTEXT AAREGTOC, -1, 8, 35, 66, 8
 RTEXT AANUMBERC, -1, 8, 52, 66, 8
 ICON ID_GSVIEW, REGDLG_ICON, 8, 8, 18, 20
}


IDD_CONVERT DIALOG 16, 40, 310, 160
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION AACONVERT
FONT 8, "MS Shell Dlg"
{
 DEFPUSHBUTTON AAOK, IDOK, 228, 8, 72, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD
 PUSHBUTTON AACANCEL, IDCANCEL, 228, 28, 72, 14, BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD
 PUSHBUTTON AAPROPERTIES, DEVICE_PROP, 228, 48, 72, 14, BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD
 PUSHBUTTON AAHELP, ID_HELP, 228, 68, 72, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON AAALLPAGES, PAGE_ALL, 228, 99, 72, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON AAODDPAGES, PAGE_ODD, 228, 119, 72, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON AAEVENPAGES, PAGE_EVEN, 228, 139, 72, 14, WS_GROUP | WS_TABSTOP
 LTEXT AADEVICEC, DEVICE_NAMETEXT, 8, 4, 48, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 COMBOBOX DEVICE_NAME, 8, 16, 70, 80, CBS_SIMPLE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 LTEXT AARESOLUTIONC, DEVICE_RESTEXT, 90, 4, 48, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 COMBOBOX DEVICE_RES, 90, 16, 64, 80, CBS_SIMPLE | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
 COMBOBOX DEVICE_FIXEDMEDIA, 8, 96, 146, 48, CBS_DROPDOWNLIST | WS_TABSTOP
 AUTOCHECKBOX AAREVERSE, PAGE_REVERSE, 8, 114, 150, 10, WS_TABSTOP
 LTEXT AAOPTIONSC, DEVICE_OPTIONSTEXT, 8, 132, 64, 8
 EDITTEXT DEVICE_OPTIONS, 8, 142, 146, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT AAPAGESC, PAGE_LISTTEXT, 168, 4, 48, 8
 LISTBOX PAGE_LIST, 167, 16, 48, 140, LBS_NOTIFY | LBS_MULTIPLESEL | LBS_EXTENDEDSEL | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP
}


/* Printing with Ghostscript device */
IDD_PRINTGS DIALOG DISCARDABLE  16, 40, 230, 135
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION AASELECTGSDEVICE
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   AAOK,IDOK,168,8,52,14,WS_GROUP
    PUSHBUTTON      AACANCEL,IDCANCEL,168,28,52,14,WS_GROUP
    PUSHBUTTON      AAPROPERTIES,DEVICE_PROP,168,48,52,14,WS_GROUP
    PUSHBUTTON      AAHELP,ID_HELP,168,68,52,14,WS_GROUP
    PUSHBUTTON      "uniprint",DEVICE_UNIPRINT,8,86,44,14,WS_GROUP
    LTEXT           AADEVICEC,DEVICE_NAMETEXT,8,4,48,8
    COMBOBOX        DEVICE_NAME,8,16,70,70,CBS_SIMPLE | WS_BORDER | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           AARESOLUTIONC,DEVICE_RESTEXT,90,4,48,8
    COMBOBOX        DEVICE_RES,90,16,64,70,CBS_SIMPLE | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        DEVICE_FIXEDMEDIA, 90, 89, 124, 48, CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT           AAOPTIONSC,DEVICE_OPTIONSTEXT,8,105,64,8
    EDITTEXT        DEVICE_OPTIONS,8,115,204,12,ES_AUTOHSCROLL
END


/* Printing with bmp device and Windows GDI printer */
IDD_PRINTGDI DIALOG DISCARDABLE  6, 16, 211, 117
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION AAWINPRINTERSETTINGS
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   AAOK,IDOK,154,8,50,14
    PUSHBUTTON      AACANCEL,IDCANCEL,154,28,50,14
    PUSHBUTTON      AAHELP,ID_HELP,154,48,50,14
    PUSHBUTTON      AAPROPERTIES,DEVICE_PROP,154,68,50,14
    GROUPBOX        AACOLOURS,-1,6,6,120,57, WS_GROUP
    CONTROL         AABANDW,IDC_MONO,"Button",BS_AUTORADIOBUTTON | 
                    WS_TABSTOP,14,18,90,10
    CONTROL         AAGREY,IDC_GREY,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,14,
                    32,90,10
    CONTROL         AAFULLCOLOUR,IDC_COLOUR,"Button",BS_AUTORADIOBUTTON | 
                    WS_TABSTOP,14,46,90,10
    COMBOBOX DEVICE_FIXEDMEDIA, 8, 73, 124, 48, CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT           AAOPTIONSC,DEVICE_OPTIONSTEXT,8,88,64,8
    EDITTEXT        DEVICE_OPTIONS,8,98,196,12,ES_AUTOHSCROLL
END



/* Printing with PostScript printer */
IDD_ADVPS DIALOG 6, 16, 258, 134
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION AAADVANCEDPSOPT
FONT 8, "MS Shell Dlg"
{
 DEFPUSHBUTTON AAOK, IDOK, 12, 109, 50, 14
 PUSHBUTTON AACANCEL, IDCANCEL, 72, 109, 50, 14
 PUSHBUTTON AAHELP, ID_HELP, 132, 109, 50, 14
 CHECKBOX AASENDCTRLDBEFORE, ADVPS_PRECTRLD, 8, 12, 200, 8, BS_AUTOCHECKBOX | WS_TABSTOP
 CHECKBOX AASENDCTRLDAFTER, ADVPS_POSTCTRLD, 8, 28, 200, 8, BS_AUTOCHECKBOX | WS_TABSTOP
 LTEXT AAPROLOGFILE, -1, 8, 46, 150, 8
 EDITTEXT ADVPS_PROLOG, 8, 56, 176, 12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
 PUSHBUTTON AABROWSE, ADVPS_PROLOGBROWSE, 200, 55, 50, 14
 LTEXT AAEPILOGFILE, -1, 8, 72, 150, 8
 EDITTEXT ADVPS_EPILOG, 8, 82, 176, 12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
 PUSHBUTTON AABROWSE, ADVPS_EPILOGBROWSE, 200, 81, 50, 14
}



IDD_PAGERANGE DIALOG DISCARDABLE  6, 16, 186, 135
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION AASELECTPAGES
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   AAOK,IDOK,129,7,50,14
    PUSHBUTTON      AACANCEL,IDCANCEL,129,24,50,14
    PUSHBUTTON      AAHELP,ID_HELP,129,41,50,14
    GROUPBOX        AAODDEVEN,-1,6,4,94,56
    CONTROL         AAALL,IDC_ALL,"Button",BS_AUTORADIOBUTTON,16,16,72,10
    CONTROL         AAODD,IDC_ODD,"Button",BS_AUTORADIOBUTTON,16,30,72,10
    CONTROL         AAEVEN,IDC_EVEN,"Button",BS_AUTORADIOBUTTON,16,44,72,10
    CONTROL         AAREVERSE,PAGE_REVERSE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,8,103,100,10
    CONTROL         AAIGNOREDSC,IDC_IGNOREDSC,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,8,118,100,10
    GROUPBOX        AAPAGES,-1,6,65,174,26
    RTEXT           AAFROMC,-1,11,77,28,8
    EDITTEXT        IDC_FROM,45,75,40,12,ES_AUTOHSCROLL
    RTEXT           AATOC,-1,101,77,28,8
    EDITTEXT        IDC_TO,133,75,40,12,ES_AUTOHSCROLL
END

/* This is the Windows 3.1 Print common dialog box */
/* It doesn't exist in Win32s comdlg32.dll so we provide a copy here */
/* It is not used by Windows 95/NT */
1538 DIALOG LOADONCALL MOVEABLE DISCARDABLE 36, 52, 225, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Print"
FONT 8, "Helv"
{
 LTEXT "Printer:", 1093, 4, 4, 40, 8
 LTEXT "System Default", 1088, 44, 4, 120, 18
 GROUPBOX "Print Range", 1072, 4, 27, 132, 67, BS_GROUPBOX
 RADIOBUTTON "&All", 1056, 10, 39, 76, 12, BS_RADIOBUTTON | WS_GROUP | WS_TABSTOP
 RADIOBUTTON "S&election", 1057, 10, 52, 56, 12
 RADIOBUTTON "&Pages", 1058, 10, 65, 76, 12
 RTEXT "&From:", 1089, 24, 80, 24, 9
 EDITTEXT 1152, 52, 78, 26, 12, ES_RIGHT | WS_BORDER | WS_TABSTOP
 RTEXT "&To:", 1090, 82, 80, 16, 9
 EDITTEXT 1153, 102, 78, 26, 12, ES_RIGHT | WS_BORDER | WS_TABSTOP
 LTEXT "Print &Quality:", 1091, 4, 100, 50, 9
 COMBOBOX 1136, 55, 98, 81, 36, CBS_DROPDOWNLIST | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 LTEXT "&Copies:", 1092, 153, 100, 29, 9
 EDITTEXT 1154, 184, 98, 26, 12, ES_RIGHT | WS_BORDER | WS_TABSTOP
 CHECKBOX "Print to Fi&le", 1040, 4, 113, 120, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 CHECKBOX "Collate Cop&ies", 1041, 153, 113, 67, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 DEFPUSHBUTTON "OK", 1, 170, 4, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Cancel", 2, 170, 21, 50, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Setup...", 1024, 170, 41, 50, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Help", 1038, 170, 75, 50, 14, WS_GROUP | WS_TABSTOP
}

