/* Copyright (C) 1995-2000, Ghostgum Software Pty Ltd.  All rights reserved.
  
  This file is part of GSview.
  
  This program is distributed with NO WARRANTY OF ANY KIND.  No author
  or distributor accepts any responsibility for the consequences of using it,
  or for whether it serves any particular purpose or works at all, unless he
  or she says so in writing.  Refer to the GSview Free Public Licence 
  (the "Licence") for full details.
  
  Every copy of GSview must include a copy of the Licence, normally in a 
  plain ASCII text file named LICENCE.  The Licence grants you the right 
  to copy, modify and redistribute GSview, but only under certain conditions 
  described in the Licence.  Among other things, the Licence requires that 
  the copyright notice and this notice be preserved on all copies.
*/
/* winsetup.rc */
/* Resources for MS-Windows installation program */

#include "windows.h"
#ifndef _Windows
#define _Windows
#endif
#include "gvcver.h"
#include "gvcrc.h"
#include "gvclang.h"
#include "winsetup.h"

#ifndef DS_3DLOOK
#define DS_3DLOOK 0x0004L	/* for Windows 95 look */
#endif

ID_GSVIEW ICON PRELOAD FIXED "binary/gvwin1.ico"

#define CHILD_W 260
#define CHILD_H 152
#define BUTTON_Y 136
#define BUTTON_XB 68
#define BUTTON_XN 128
#define BUTTON_XC 194
#define TEXT_W 236

IDD_MAIN DIALOG PRELOAD FIXED 16, 16, 310, 160
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_SYSMENU /* not visible */
CAPTION AAINSTALL1
FONT 8, "MS Sans Serif"
{
 ICON ID_GSVIEW, ID_GSVIEW, 14, 10, 16, 16
 CTEXT "GSview", -1, 4, 30, 40, 8
 GROUPBOX "", -1, 46, 0, 1, 154, BS_GROUPBOX
}


IDD_INTRO DIALOG PRELOAD FIXED 48, 4, CHILD_W , CHILD_H
STYLE DS_3DLOOK | WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif"
{
 PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB , BUTTON_Y , 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED | WS_GROUP
 PUSHBUTTON AANEXTGT, IDNEXT, BUTTON_XN , BUTTON_Y , 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC , BUTTON_Y , 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON AAVIEWREADME, IDC_VIEWREADME, 8, 102, 100, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 LTEXT AAINSTALLINTRO1, -1, 8, 4, TEXT_W , 8
 LTEXT GSVIEW_PRODUCT, -1, 16, 16, TEXT_W , 8
 LTEXT GSVIEW_DOT_VERSION, -1, 48, 16, TEXT_W , 8
 LTEXT AAINSTALLSPACE , IDD_INTRO_T2, 8, 28, TEXT_W , 16

 LTEXT AAGSVIEWREQUIRES, IDD_INTRO_T1, 8, 56, TEXT_W , 12
 LTEXT GS_PRODUCT, -1, 16, 66, TEXT_W , 8
 LTEXT "", IDD_INTRO_T3, 120, 66, TEXT_W , 8
 LTEXT AAVIEWREADMEDETAILS, -1, 8, 78, TEXT_W , 16
}

IDD_COPYRIGHT DIALOG PRELOAD FIXED 48, 4, CHILD_W, CHILD_H
STYLE WS_CHILD | WS_VISIBLE | DS_3DLOOK
FONT 8, "MS Sans Serif"
{
 PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_GROUP
 PUSHBUTTON AANEXTGT, IDNEXT, BUTTON_XN, BUTTON_Y, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON AAHELP, IDC_VIEWHELP, 8, 72, 100, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON AAVIEWREADME, IDC_VIEWREADME, 8, 102, 100, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 LTEXT AACOPYRIGHTNOTICE, -1, 6, 4, TEXT_W, 8, WS_CHILD | WS_VISIBLE
 LTEXT AAGSVIEWC, IDD_COPYRIGHT_T2, 8, 22, TEXT_W, 8
 LTEXT GSVIEW_COPYRIGHT1, -1, 16, 32, TEXT_W, 8
 LTEXT GSVIEW_COPYRIGHT2, -1, 16, 40, TEXT_W, 8
 LTEXT GSVIEW_COPYRIGHT3, -1, 16, 48, TEXT_W, 8
}

IDD_ASSOC DIALOG PRELOAD FIXED 48, 4, CHILD_W, CHILD_H
STYLE WS_CHILD | WS_VISIBLE | DS_3DLOOK 
FONT 8, "MS Sans Serif"
{
 PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_GROUP
 PUSHBUTTON AANEXTGT, IDNEXT, BUTTON_XN, BUTTON_Y, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 AUTOCHECKBOX AACFG41, IDC_CFG41, 9, 80, 230, 8, WS_TABSTOP
 AUTOCHECKBOX AACFG42, IDC_CFG42, 9, 100, 230, 8, WS_TABSTOP
 LTEXT AACFG40, -1, 6, 4, TEXT_W, 20
 LTEXT AACFG43, -1, 6, 32, TEXT_W, 40
}

IDD_DIR DIALOG PRELOAD FIXED 48, 4, CHILD_W, CHILD_H
STYLE WS_CHILD | WS_VISIBLE | DS_3DLOOK
FONT 8, "MS Sans Serif"
{
 PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_GROUP
 PUSHBUTTON AANEXTGT, IDNEXT, BUTTON_XN, BUTTON_Y, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 EDITTEXT ID_ANSWER, 6, 28, TEXT_W, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
 PUSHBUTTON AABROWSEE,IDC_BROWSE_DIR, 6, 64, 50, 14
 LTEXT AASELECTGSVIEWDIR, -1, 6, 6, TEXT_W, 8
}

IDD_MKDIR DIALOG PRELOAD FIXED 48, 4, CHILD_W, CHILD_H
STYLE WS_CHILD | WS_VISIBLE | DS_3DLOOK
FONT 8, "MS Sans Serif"
{
 PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_GROUP
 PUSHBUTTON AANEXTGT, IDNEXT, BUTTON_XN, BUTTON_Y, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 LTEXT AAINSTALLMKDIR1, -1, 8, 8, TEXT_W, 8
 LTEXT "XXXX", IDD_MKDIR_TEXT, 20, 24, 160, 8
 LTEXT AAINSTALLMKDIR2, -1, 8, 40, TEXT_W, 8
}


IDD_CONFIG DIALOG PRELOAD FIXED 48, 4, CHILD_W, CHILD_H
STYLE WS_CHILD | WS_VISIBLE | DS_3DLOOK
FONT 8, "MS Sans Serif"
BEGIN
 PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_GROUP
 PUSHBUTTON AANEXTGT, IDNEXT, BUTTON_XN, BUTTON_Y, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 AUTOCHECKBOX AAINSTALLCONFIG4, IDM_AUTOEXECBAT, 9, 80, TEXT_W, 8, WS_TABSTOP
 AUTOCHECKBOX AAINSTALLCONFIG5, IDM_AUTOEXECBAK, 9, 100, TEXT_W, 8, WS_TABSTOP
 LTEXT AAINSTALLCONFIG1, -1, 8, 8, TEXT_W, 16, WS_CHILD | WS_VISIBLE
 LTEXT AAINSTALLCONFIG2, -1, 8, 32, TEXT_W, 8, WS_CHILD | WS_VISIBLE
 LTEXT AAINSTALLCONFIG3, -1, 8, 48, TEXT_W, 24, WS_CHILD | WS_VISIBLE
END

IDD_FINISH DIALOG PRELOAD FIXED 48, 4, CHILD_W , CHILD_H
STYLE DS_3DLOOK | WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif"
{
 PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB , BUTTON_Y , 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_GROUP
 PUSHBUTTON AAFINISHGT, IDNEXT, BUTTON_XN , BUTTON_Y , 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC , BUTTON_Y , 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 LTEXT AAGSVIEWADDSTARTMENU, -1, 8, 8, TEXT_W , 16, WS_CHILD | WS_VISIBLE
 AUTOCHECKBOX AACREATEFOLDER, IDC_CREATEFOLDER, 64, 24, 160, 10, WS_TABSTOP
 EDITTEXT IDM_PROGMAN2, 64, 40, 188, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 AUTOCHECKBOX AAALLUSERS, IDC_ALLUSERS, 64, 60, 130, 10, WS_TABSTOP
 PUSHBUTTON AABROWSEE,IDC_BROWSE_GROUP, 202, 60, 50, 14
 LTEXT AAPROGMANGROUP3, -1, 16, 42, 48, 8, WS_CHILD | WS_VISIBLE
 LTEXT AAINSTALLFINISH, -1, 8, 80, TEXT_W , 24, WS_CHILD | WS_VISIBLE
}

IDD_TEXTWIN DIALOG PRELOAD FIXED 48, 4, CHILD_W, CHILD_H
STYLE WS_CHILD | WS_VISIBLE | DS_3DLOOK
FONT 8, "MS Sans Serif"
{
 PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED | WS_GROUP
 PUSHBUTTON AANEXTGT, IDNEXT, BUTTON_XN, BUTTON_Y, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED
 PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON AACOPY, TEXTWIN_COPY, 4, BUTTON_Y, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 EDITTEXT TEXTWIN_MLE, 4, 10, 222, 120, ES_MULTILINE | WS_BORDER | WS_VSCROLL | WS_HSCROLL
 LTEXT AAINSTALLUNZIP1, -1, 8, 0, TEXT_W, 8, WS_CHILD | WS_VISIBLE
}

IDD_DONE DIALOG PRELOAD FIXED 48, 4, CHILD_W, CHILD_H
STYLE WS_CHILD | WS_VISIBLE | DS_3DLOOK
FONT 8, "MS Sans Serif"
{
 PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_GROUP
 PUSHBUTTON AAEXIT, IDNEXT, BUTTON_XN, BUTTON_Y, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED
 LTEXT AAINSTALLOK, -1, 8, 8, TEXT_W, 16, WS_CHILD | WS_VISIBLE
 LTEXT "", IDD_DONE_GROUP, 8, 32, TEXT_W, 16, WS_CHILD | WS_VISIBLE
 LTEXT "", IDD_DONE_BAK, 8, 56, TEXT_W, 24, WS_CHILD | WS_VISIBLE
}

IDD_FAILED DIALOG PRELOAD FIXED 48, 4, CHILD_W, CHILD_H
STYLE WS_CHILD | WS_VISIBLE | DS_3DLOOK
FONT 8, "MS Sans Serif"
{
 PUSHBUTTON AABACKLT, IDPREV, BUTTON_XB, BUTTON_Y, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_GROUP
 PUSHBUTTON AAEXIT, IDNEXT, BUTTON_XN, BUTTON_Y, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON AACANCEL, IDCANCEL, BUTTON_XC, BUTTON_Y, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED
 LTEXT AAINSTALLFAILED, -1, 8, 8, TEXT_W, 24, WS_CHILD | WS_VISIBLE
 LTEXT "", IDD_FAILED_REASON, 8, 40, TEXT_W, 24, WS_CHILD | WS_VISIBLE
}

IDD_DIRDLG DIALOG DISCARDABLE  0, 0, 273, 140
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION AASELECTFOLDER
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   AAOK,IDOK,216,7,50,14
    PUSHBUTTON      AACANCEL,IDCANCEL,216,24,50,14
    LISTBOX         IDC_FILES,7,7,197,70,LBS_SORT | LBS_NOINTEGRALHEIGHT | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           AAFOLDER, IDC_FOLDER,7,82,259,12
    LTEXT           AADESTFOLDER,-1,7,105,259,12
    EDITTEXT        IDC_TARGET,7,120,259,12,ES_AUTOHSCROLL
END


IDD_FILE DIALOG PRELOAD FIXED 18, 18, 230, 68
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION AAINSTALLMISSING1
FONT 8, "MS Sans Serif"
BEGIN
	LTEXT AAINSTALLMISSING2, IDD_FILE_TEXT, 6, 6, 200, 16, WS_CHILD | WS_VISIBLE
	PUSHBUTTON AAOK, IDOK, 8, 48, 32, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON AACANCEL, IDCANCEL, 56, 48, 32, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	EDITTEXT ID_ANSWER, 8, 28, 200, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
END

IDD_LANG DIALOG PRELOAD FIXED DISCARDABLE 16, 16, 148, 146
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION AASELECTLANGUAGE
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "English", IDM_LANGEN, 16, 16, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD

 PUSHBUTTON "Catalan", IDM_LANGCT, 16, 36, 50, 14, BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD
 PUSHBUTTON "Deutsch", IDM_LANGDE, 16, 56, 50, 14, BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD
 PUSHBUTTON "Espaniol", IDM_LANGES, 16, 76, 50, 14, BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD
 PUSHBUTTON "Francais", IDM_LANGFR, 16, 96, 50, 14, BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD
 PUSHBUTTON "Greek", IDM_LANGGR, 16, 116, 50, 14, BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD

 PUSHBUTTON "Italiano", IDM_LANGIT, 82, 36, 50, 14, BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD
 PUSHBUTTON "Nederlands", IDM_LANGNL, 82, 56, 50, 14, BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD
 PUSHBUTTON "Russian", IDM_LANGRU, 82, 76, 50, 14, BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD
 PUSHBUTTON "Slovak", IDM_LANGSK, 82, 96, 50, 14, BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD
 PUSHBUTTON "Svenska", IDM_LANGSE, 82, 116, 50, 14, BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD
}


STRINGTABLE PRELOAD FIXED
BEGIN
	IDS_DIRNOTEXIST AADIRNOTEXIST
	IDS_MKDIRFAIL AAMKDIRFAIL
	IDS_GSVIEWBASE GSVIEW_BASEDIR
	IDS_BETAWARN AABETAWARN
	IDS_PROGMANGROUP4 AAPROGMANGROUP4
	IDS_PROGMANGROUP5 AAPROGMANGROUP5
	IDS_DONEBAK AADONEBAK
	IDS_CANTLOAD AACANTLOAD
	IDS_CANTCREATETEMPFILE AACANTCREATETEMPFILE
	IDS_CANTOPENREAD AACANTOPENREAD
	IDS_CANTOPENWRITE AACANTOPENWRITE
	IDS_ERRORRENAME AAERRORRENAME
	IDS_NODDEPROGMAN AANODDEPROGMAN
	IDS_INSERTDISK AAINSERTDISK
	IDS_ZIPNOTFOUND AAZIPNOTFOUND
	IDS_UNZIPCANCELLED AAUNZIPCANCELLED
	IDS_CANTALLOCBUF AACANTALLOCBUF
	IDS_UNINSTALLTITLE, AAUNINSTALLTITLE
	IDS_UNINSTALLITEM, AAUNINSTALLITEM
END

STRINGTABLE PRELOAD FIXED
BEGIN
    IDS_APPNAME             "GSview Setup"
    IDS_TARGET_DIR          "Ghostgum"
    IDS_TARGET_GROUP        "Ghostgum"
    IDS_HELPFILE 	    WINHELPFILE
END
