/* Copyright (C) 1993-2001, Ghostgum Software Pty Ltd.  All rights reserved.

  This file is part of GSview.
  
  This program is distributed with NO WARRANTY OF ANY KIND.  No author
  or distributor accepts any responsibility for the consequences of using it,
  or for whether it serves any particular purpose or works at all, unless he
  or she says so in writing.  Refer to the GSview Free Public Licence 
  (the "Licence") for full details.
 
  Every copy of GSview must include a copy of the Licence, normally in a 
  plain ASCII text file named LICENCE.  The Licence grants you the right 
  to copy, modify and redistribute GSview, but only under certain conditions 
  described in the Licence.  Among other things, the Licence requires that 
  the copyright notice and this notice be preserved on all copies.
*/

/* gr\gvwlang.rc */

/* Windows Greek language resources */

LANGUAGE LANG_GREEK, SUBLANG_DEFAULT

ID_LANG BITMAP "binary/greek.bmp"

gsview_menu MENU
BEGIN
	POPUP "&Αρχείο"
	BEGIN
		MENUITEM "’ν&οιγμα...\tΟ", IDM_OPEN
		MENUITEM "Επι&λογή αρχείου...\tΛ", IDM_SELECT
		MENUITEM "Αποθήκευση &ως...\tΩ", IDM_SAVEAS
		MENUITEM "&Κλείσιμο...\tΚ",  IDM_CLOSE
		MENUITEM "&Πληροφορίες...\tΠ",  IDM_INFO
		MENUITEM SEPARATOR
		MENUITEM "Μετατ&ροπή...\tΡ", IDM_CONVERTFILE
		MENUITEM "Εξα&γωγή...\tΓ", IDM_EXTRACT
		MENUITEM "PS &σε EPS", IDM_PSTOEPS
		MENUITEM SEPARATOR
		MENUITEM "&Εκτύπωση...\tE", IDM_PRINT
		MENUITEM  "Εκτύπωση &του αρχείου...", IDM_SPOOL
		MENUITEM  SEPARATOR
		MENUITEM  "Παρουσίαση &μηνυμάτων\tΜ", IDM_GSMESS 
		MENUITEM  SEPARATOR
		MENUITEM  SEPARATOR
		MENUITEM  "Έξο&δος\tΔ", IDM_EXIT
	END
	POPUP "&Επεξεργασία"
	BEGIN
		MENUITEM "Αντι&γραφή\tCtrl+C", IDM_COPYCLIP
		MENUITEM SEPARATOR
		MENUITEM "&Επικόλληση σε...", IDM_PASTETO
		MENUITEM "Μετατροπή &Bitmap", IDM_CONVERT
		MENUITEM SEPARATOR
		POPUP "&Προσθήκη προεπισκόπησης EPS"
		BEGIN
		    MENUITEM "&Interchange", IDM_MAKEEPSI
		    MENUITEM "&TIFF 4", IDM_MAKEEPST4
		    MENUITEM "TIFF 6 &χωρίς συμπίεση", IDM_MAKEEPST6U
		    MENUITEM "TIFF 6 &με συμπίεση", IDM_MAKEEPST6P
		    MENUITEM "Μετα-αρχείο &Windows", IDM_MAKEEPSW
		    MENUITEM "&Καθορισμένη από το χρήστη...", IDM_MAKEEPSU
		END
		POPUP "Ε&ξαγωγή EPS"
		BEGIN
		    MENUITEM "Τμήμα &PostScript", IDM_EXTRACTPS
		    MENUITEM "Τμήμα προ&επισκόπησης", IDM_EXTRACTPRE
		END
		MENUITEM SEPARATOR
		MENUITEM "&Μέτρηση", IDM_MEASURE
		MENUITEM "Μετατροπή σε γράφημα διανυσματικής μορφής...", IDM_PSTOEDIT
		MENUITEM "Εξαγωγή &κειμένου...", IDM_TEXTEXTRACT
		MENUITEM "Εύ&ρεση...\tCtrl+F", IDM_TEXTFIND
		MENUITEM "Εύρε&ση επόμενου\tF3", IDM_TEXTFINDNEXT
	END
	POPUP "Επι&λογές"
	BEGIN
		MENUITEM "Τυπική διαμόρφωση...", IDM_CFG
		MENUITEM "Διαμόρφωση για προχωρημένους...", IDM_GSCOMMAND
		MENUITEM "Ή&χοι...", IDM_SOUNDS
		POPUP "&Μονάδες"
		BEGIN
			MENUITEM "&στιγμές (pt)", IDM_UNITPT
			MENUITEM "&χιλιοστά (mm)", IDM_UNITMM
			MENUITEM "ί&ντσες (in)", IDM_UNITINCH
			MENUITEM SEPARATOR
			MENUITEM "Υ&ψηλή ευκρίνεια", IDM_UNITFINE
		END
		POPUP "&Γλώσσα"
		BEGIN
			MENUITEM "&English", IDM_LANGEN
			/* Remaining languages are added at run time */
		END
		POPUP "PS σε &κείμενο"
		BEGIN
			MENUITEM "Απενεργοποιημένη", IDM_PSTOTEXTDIS
			MENUITEM "Κανονική", IDM_PSTOTEXTNORM
			MENUITEM "Κωδικοποίηση Dvips Cork", IDM_PSTOTEXTCORK
		END
		POPUP "Προειδοποιητικά μηνύματα δομής DSC"
		BEGIN
			MENUITEM "Απενεργοποιημένα", IDM_DSC_OFF
			MENUITEM "Σφάλματα", IDM_DSC_ERROR
			MENUITEM "Προειδοποιήσεις", IDM_DSC_WARN
			MENUITEM "Όλα", IDM_DSC_INFO
		END
		MENUITEM "Αποθήκευση των επιλογών &τώρα", IDM_SETTINGS
		MENUITEM SEPARATOR
		MENUITEM "Αποθήκευση των επιλογών κατά την έξο&δο", IDM_SAVESETTINGS
		MENUITEM "Α&σφαλής λειτουργία", IDM_SAFER
		MENUITEM "Απομνημόνευση τελευταίου &καταλόγου", IDM_SAVEDIR
		MENUITEM "Εμφάνιση της γραμμής &εργαλείων", IDM_BUTTONSHOW
		MENUITEM "Προσαρμογή του &παράθυρου στη σελίδα", IDM_FITPAGE
		MENUITEM "Α&υτόματη επανεμφάνιση", IDM_AUTOREDISPLAY
		MENUITEM "Περικ&οπή EPS", IDM_EPSFCLIP
		MENUITEM "Π&ροειδοποιήσεις EPS", IDM_EPSFWARN
		MENUITEM "Παρά&βλεψη σχολίων δομής DSC", IDM_IGNOREDSC
		MENUITEM "Εμ&φάνιση ορίων πλαισίου", IDM_SHOWBBOX
	END
	POPUP "Π&ροβολή"
	BEGIN
		MENUITEM "&Επόμενη σελίδα\t+", IDM_NEXT
		MENUITEM "&Προηγούμενη σελίδα\t-", IDM_PREV
		MENUITEM "&Μετάβαση στη σελίδα...\tΜ", IDM_GOTO
		MENUITEM "Πί&σω\tΣ", IDM_GOBACK
		MENUITEM "Εμπ&ρός\tΡ", IDM_GOFWD
		MENUITEM "&Ανανέωση οθόνης\tΑ", IDM_REDISPLAY
		MENUITEM SEPARATOR
		MENUITEM "Αρχή επόμενης σελίδας\tΔιάστημα", IDM_NEXTHOME
		MENUITEM "Αρχή προηγούμενης σελίδας\tBackspace", IDM_PREVHOME
		MENUITEM SEPARATOR
		MENUITEM "Προβολή πλήρους &οθόνης\tF4", IDM_FULLSCREEN
		MENUITEM "Προσαρμογή στο παρά&θυρο\tF6", IDM_FITWIN
	END
	POPUP "&Προσανατολισμός"
	BEGIN
		MENUITEM "&Αυτόματος", IDM_AUTOORIENT
		MENUITEM SEPARATOR
		MENUITEM "&Κατακόρυφος", IDM_PORTRAIT
		MENUITEM "&Οριζόντιος", IDM_LANDSCAPE
		MENUITEM "Ανε&στραμμένος", IDM_UPSIDEDOWN
		MENUITEM "&Πανοραμικός", IDM_SEASCAPE
		MENUITEM SEPARATOR
		MENUITEM "Οριζόντια &μετάθεση", IDM_SWAPLANDSCAPE
	END
	POPUP "&Μέσα"
	BEGIN
		MENUITEM "&Ρυθμίσεις οθόνης...", IDM_DISPLAYSETTINGS
		MENUITEM SEPARATOR
		MENUITEM "&Περιστροφή μέσου", IDM_MEDIAROTATE
		MENUITEM SEPARATOR
		MENUITEM "11x17 ίντσες", IDM_11x17
		MENUITEM "A3", IDM_A3
		MENUITEM "A4", IDM_A4
		MENUITEM "A5", IDM_A5
		MENUITEM "B4", IDM_B4
		MENUITEM "B5", IDM_B5
		MENUITEM "Ledger", IDM_LEDGER
		MENUITEM "Legal", IDM_LEGAL
		MENUITEM "Letter", IDM_LETTER
		MENUITEM "Note", IDM_NOTE
		MENUITEM "&Καθορισμένο από το χρήστη...", IDM_USERSIZE
	END
	POPUP "&Βοήθεια"
	BEGIN
		MENUITEM "Π&εριεχόμενα", IDM_HELPCONTENT
		MENUITEM "&Αναζήτηση βοήθειας για...", IDM_HELPSEARCH
		MENUITEM "Βοήθεια για τα π&λήκτρα", IDM_HELPKEYS
		MENUITEM SEPARATOR
		MENUITEM "&Δήλωση...", IDM_REGISTER
		MENUITEM "&Πληροφορίες...", IDM_ABOUT
	END
END

gsview_accel ACCELERATORS
BEGIN
	"O", IDM_OPEN
	"o", IDM_OPEN
	207, IDM_OPEN, ASCII
	239, IDM_OPEN, ASCII
	"K", IDM_CLOSE
	"k", IDM_CLOSE
	202, IDM_CLOSE, ASCII
	234, IDM_CLOSE, ASCII
	"E", IDM_NEXT
	"e", IDM_NEXT
	197, IDM_NEXT, ASCII
	229, IDM_NEXT, ASCII
	"+", IDM_NEXT
	" ", IDM_NEXTHOME
	VK_SPACE, IDM_NEXTHOME, VIRTKEY
	"P", IDM_PREV
	"p", IDM_PREV
	208, IDM_PREV, ASCII
	240, IDM_PREV, ASCII
	"-", IDM_PREV
	VK_BACK, IDM_PREVHOME, VIRTKEY
	VK_BACK, IDM_PREVHOME, VIRTKEY, SHIFT
	"M", IDM_GOTO
	"m", IDM_GOTO
	204, IDM_GOTO, ASCII
	236, IDM_GOTO, ASCII
	"W", IDM_GOBACK
	"w", IDM_GOBACK
	"S", IDM_GOBACK
	"s", IDM_GOBACK
	211, IDM_GOBACK, ASCII
	243, IDM_GOBACK, ASCII
	211, IDM_GOBACK, ASCII
	242, IDM_GOBACK, ASCII
	"P", IDM_INFO
	"p", IDM_INFO
	208, IDM_INFO, ASCII
	240, IDM_INFO, ASCII
	"A", IDM_REDISPLAY
	"a", IDM_REDISPLAY
	193, IDM_REDISPLAY, ASCII
	225, IDM_REDISPLAY, ASCII
	"L", IDM_SELECT
	"l", IDM_SELECT
	203, IDM_SELECT, ASCII
	235, IDM_SELECT, ASCII
	"V", IDM_SAVEAS
	"v", IDM_SAVEAS
	217, IDM_SAVEAS, ASCII
	249, IDM_SAVEAS, ASCII
	"E", IDM_PRINT
	"e", IDM_PRINT
	197, IDM_PRINT, ASCII
	229, IDM_PRINT, ASCII
	"R", IDM_CONVERTFILE
	"r", IDM_CONVERTFILE
	209, IDM_CONVERTFILE, ASCII
	241, IDM_CONVERTFILE, ASCII
#ifdef OLD
	VK_F, IDM_TEXTFIND, VIRTKEY, CONTROL
#else
	"^F", IDM_TEXTFIND
#endif
	VK_F3, IDM_TEXTFINDNEXT, VIRTKEY
	"G", IDM_EXTRACT
	"g", IDM_EXTRACT
	195, IDM_EXTRACT, ASCII
	227, IDM_EXTRACT, ASCII
	"M", IDM_GSMESS
	"m", IDM_GSMESS
	204, IDM_GSMESS, ASCII
	236, IDM_GSMESS, ASCII
	"<", IDM_MAGMINUS
	">", IDM_MAGPLUS
	",", IDM_MAGMINUS
	".", IDM_MAGPLUS
	VK_F1, IDM_HELPCONTENT, VIRTKEY
	"^C", IDM_COPYCLIP
	152, IDM_COPYCLIP, ASCII
	VK_INSERT, IDM_COPYCLIP, VIRTKEY, CONTROL
	VK_F4, IDM_FULLSCREEN, VIRTKEY
	VK_F5, IDM_REDISPLAY, VIRTKEY
	VK_F6, IDM_FITWIN, VIRTKEY
END



STRINGTABLE
BEGIN
	/* general strings */
	IDS_SLANGUAGE "ELL,3"
	IDS_CODEPAGE, "1253"	/* almost ISO-8859-7 */
	IDS_HELPFILE, WINHELPFILE
	IDS_SOUNDNOMM, "Αδύνατη η φόρτωση της βιβλιοθήκης WINMM.DLL.\nΟι ήχοι δεν θα είναι διαθέσιμοι."
END

STRINGTABLE
BEGIN
	/* filter strings */
#ifdef __WIN32__
	IDS_FILTER_PSALL, "Προεπιλογή (*.ps;*.eps;*.epi;*.pdf;*.prn)|*.ps;*.eps;*.epi;*.pdf;*.prn;*.ps.gz;*.eps.gz;*.epi.gz;*.pdf.gz;*.ps.bz2;*.eps.bz2;*.pdf.bz2|Αρχεία PS (*.ps)|*.ps;*.ps.gz;*.ps.bz2;*.psz|Αρχεία EPS (*.eps)|*.eps;*.eps.gz;*.eps.bz2|Αρχεία EPI (*.epi)|*.epi;*.epi.gz;*.epi.bz2|Αρχεία PDF (*.pdf)|*.pdf;*.pdf.gz;*.pdf.bz2|Αρχεία PRN (*.prn)|*.prn|Όλα τα αρχεία (*.*)|*.*|"
#else
	IDS_FILTER_PSALL, "Προεπιλογή (*.ps;*.eps;*.epi;*.pdf;*.prn)|*.ps;*.eps;*.epi;*.pdf;*.prn;*.psz;|Αρχεία PS (*.ps)|*.ps|Αρχεία EPS (*.eps)|*.eps|Αρχεία EPI (*.epi)|*.epi|Αρχεία PDF (*.pdf)|*.pdf|Αρχεία PRN (*.prn)|*.prn|Όλα τα αρχεία (*.*)|*.*|"
#endif
	IDS_FILTER_PS, "Προεπιλογή (*.ps)|*.ps|Αρχεία EPS (*.eps)|*.eps|Αρχεία EPI (*.epi)|*.epi|Όλα τα αρχεία (*.*)|*.*|"
	IDS_FILTER_EPS, "Αρχεία EPS (*.eps)|*.eps|Αρχεία EPI (*.epi)|*.epi|Αρχεία PS (*.ps)|*.ps|Όλα τα αρχεία (*.*)|*.*|"
	IDS_FILTER_EPI, "Αρχεία EPI (*.epi)|*.epi|Αρχεία EPS (*.eps)|*.eps|Αρχεία PS (*.ps)|*.ps|Όλα τα αρχεία (*.*)|*.*|"
	IDS_FILTER_PDF, "Αρχεία PDF (*.pdf)|*.pdf|Όλα τα αρχεία (*.*)|*.*|"
	IDS_FILTER_ALL, "Όλα τα αρχεία (*.*)|*.*|"
	IDS_FILTER_BMP, "Αρχεία Bitmap (*.bmp)|*.bmp|Όλα τα αρχεία (*.*)|*.*|"
	IDS_FILTER_TIFF, "Αρχεία TIFF (*.tif)|*.tif|Όλα τα αρχεία (*.*)|*.*|"
	IDS_FILTER_WMF, "Μετα-αρχεία Windows (*.wmf)|*.wmf|Όλα τα αρχεία (*.*)|*.*|"
	IDS_FILTER_TXT, "Αρχεία κειμένου (*.txt)|*.txt|Όλα τα αρχεία (*.*)|*.*|"
END


