/* Copyright (C) 1993-2002, Ghostgum Software Pty Ltd.  All rights reserved.

  This file is part of GSview.

  This program is distributed with NO WARRANTY OF ANY KIND.  No author
  or distributor accepts any responsibility for the consequences of using it,
  or for whether it serves any particular purpose or works at all, unless he
  or she says so in writing.  Refer to the GSview Free Public Licence
  (the "Licence") for full details.

  Every copy of GSview must include a copy of the Licence, normally in a
  plain ASCII text file named LICENCE.  The Licence grants you the right
  to copy, modify and redistribute GSview, but only under certain conditions
  described in the Licence.  Among other things, the Licence requires that
  the copyright notice and this notice be preserved on all copies.
*/

/* es\gvwlang.rc */

/* Windows Spanish language resources */
LANGUAGE LANG_SPANISH, SUBLANG_DEFAULT

ID_LANG BITMAP "binary/spanish.bmp"

gsview_menu MENU
BEGIN
    POPUP "&Archivo"
    BEGIN
        MENUITEM "&Abrir...\tA", IDM_OPEN
        MENUITEM "Se&leccionar archivo...", IDM_SELECT
        MENUITEM "&Guardar como...\tG", IDM_SAVEAS
        MENUITEM "&Cerrar\tC", IDM_CLOSE
        MENUITEM "I&nformación...\tN", IDM_INFO
        MENUITEM SEPARATOR
        MENUITEM "C&onvertir...", IDM_CONVERTFILE
        MENUITEM "&Extraer...\tE", IDM_EXTRACT
        MENUITEM "PS a EPS", IDM_PSTOEPS
        MENUITEM SEPARATOR
        MENUITEM "&Imprimir...\tI", IDM_PRINT
/*
        MENUITEM "Imprimir a un a&rchivo...\tR", IDM_PRINTTOFILE
*/
        MENUITEM "Imprimir &un archivo...", IDM_SPOOL
        MENUITEM SEPARATOR
        MENUITEM "Mostrar &mensajes\tM", IDM_GSMESS
        MENUITEM SEPARATOR
        MENUITEM SEPARATOR
        MENUITEM "&Salir", IDM_EXIT
    END
    POPUP "&Editar"
    BEGIN
        MENUITEM "&Copiar\tCtrl+C", IDM_COPYCLIP
        MENUITEM SEPARATOR
        MENUITEM "&Pegar en...", IDM_PASTETO
        MENUITEM "Convertir a &Bitmap", IDM_CONVERT
        MENUITEM SEPARATOR
        POPUP "&Añadir vista preliminar a EPS"
        BEGIN
            MENUITEM "&Interchange", IDM_MAKEEPSI
            MENUITEM "&TIFF 4", IDM_MAKEEPST4
            MENUITEM "TIFF 6 &no comprimido", IDM_MAKEEPST6U
            MENUITEM "TIFF 6 &comprimido", IDM_MAKEEPST6P
            MENUITEM "&Windows Metafile", IDM_MAKEEPSW
            MENUITEM "&Pegar desde un archivo", IDM_MAKEEPSU
        END
        POPUP "&Extraer del archivo EPS"
        BEGIN
            MENUITEM "La parte &PostScript", IDM_EXTRACTPS
            MENUITEM "La vista preliminar", IDM_EXTRACTPRE
        END
        MENUITEM SEPARATOR
        MENUITEM "Medir", IDM_MEASURE
        MENUITEM "Convertir a formato vectorial...", IDM_PSTOEDIT
        MENUITEM "Extraer el &texto...", IDM_TEXTEXTRACT
        MENUITEM "&Buscar...\tCtrl+B", IDM_TEXTFIND
        MENUITEM "Buscar &siguiente\tF3", IDM_TEXTFINDNEXT
    END
    POPUP "O&pciones"
    BEGIN
        MENUITEM "Configuración &sencilla...", IDM_CFG
        MENUITEM "Configuración &avanzada...", IDM_GSCOMMAND
        MENUITEM "Sonidos...", IDM_SOUNDS
        POPUP "&Unidades"
        BEGIN
            MENUITEM "&pt (punto)", IDM_UNITPT
            MENUITEM "&mm (milímetro)", IDM_UNITMM
            MENUITEM "&in (pulgada)", IDM_UNITINCH
            MENUITEM SEPARATOR
            MENUITEM "Resolución &fina", IDM_UNITFINE
        END
        POPUP "&Idioma"
        BEGIN
        MENUITEM "&English", IDM_LANGEN
        /* Remaining languages are added at run time */
        END
        POPUP "Conversión a &texto"
        BEGIN
            MENUITEM "Desactivado", IDM_PSTOTEXTDIS
            MENUITEM "Normal", IDM_PSTOTEXTNORM
            MENUITEM "Página de códigos Dvips Cork", IDM_PSTOTEXTCORK
        END
        POPUP "Comentarios DSC"
        BEGIN
            MENUITEM "Desactivar", IDM_DSC_OFF
            MENUITEM "Mostrar errores", IDM_DSC_ERROR
            MENUITEM "Mostrar precauciones", IDM_DSC_WARN
            MENUITEM "Mostrar todos", IDM_DSC_INFO        
        END
        MENUITEM "&Guardar opciones ahora", IDM_SETTINGS
        MENUITEM SEPARATOR
        MENUITEM "Guardar opciones al &salir", IDM_SAVESETTINGS
        MENUITEM "&Proteger los ficheros", IDM_SAFER
        MENUITEM "Guardar el último &directorio", IDM_SAVEDIR
        MENUITEM "&Mostrar barra de botones", IDM_BUTTONSHOW
        MENUITEM "A&justar la ventana a la página", IDM_FITPAGE
        MENUITEM "Actualización automática", IDM_AUTOREDISPLAY
        MENUITEM "Re&cortar EPS", IDM_EPSFCLIP
        MENUITEM "A&visos EPS", IDM_EPSFWARN
        MENUITEM "&Ignorar los comentarios DSC", IDM_IGNOREDSC
        MENUITEM "Mostrar &BoundingBox", IDM_SHOWBBOX
    END
    POPUP "&Ver"
    BEGIN
        MENUITEM "Página si&guiente\t+", IDM_NEXT
        MENUITEM "Página a&nterior\t-", IDM_PREV
        MENUITEM "Ir a la &página...\tP", IDM_GOTO
        MENUITEM "Vista &anterior", IDM_GOBACK
        MENUITEM "Vista &siguiente", IDM_GOFWD
        MENUITEM "Ac&tualizar\tF5", IDM_REDISPLAY
        MENUITEM SEPARATOR
        MENUITEM "Cabecera de página siguiente\tSpace", IDM_NEXTHOME
        MENUITEM "Cabecera de página anterior\tBkSp", IDM_PREVHOME
        MENUITEM SEPARATOR
        MENUITEM "Pantalla &completa\tF4", IDM_FULLSCREEN
        MENUITEM "Ajustar a la &ventana\tF6", IDM_FITWIN
    END
    POPUP "&Orientación"
    BEGIN
        MENUITEM "&Automática", IDM_AUTOORIENT
        MENUITEM SEPARATOR
        MENUITEM "&Normal", IDM_PORTRAIT
        MENUITEM "Apaisada a &izquierda", IDM_LANDSCAPE
        MENUITEM "&Inversa", IDM_UPSIDEDOWN
        MENUITEM "Apaisada a &derecha", IDM_SEASCAPE
        MENUITEM SEPARATOR
        MENUITEM "In&vierte apaisado", IDM_SWAPLANDSCAPE
    END
    POPUP "&Formatos"
    BEGIN
        MENUITEM "&Parámetros de pantalla...", IDM_DISPLAYSETTINGS
        MENUITEM SEPARATOR
        MENUITEM "Intercambiar dimensiones", IDM_MEDIAROTATE
        MENUITEM SEPARATOR
        MENUITEM "11x17", IDM_11x17
        MENUITEM "A3", IDM_A3
        MENUITEM "A4", IDM_A4
        MENUITEM "A5", IDM_A5
        MENUITEM "B4", IDM_B4
        MENUITEM "B5", IDM_B5
        MENUITEM "Ledger", IDM_LEDGER
        MENUITEM "Legal", IDM_LEGAL
        MENUITEM "Letter", IDM_LETTER
        MENUITEM "Note", IDM_LETTER
        MENUITEM "Personalizado...", IDM_USERSIZE
    END
    POPUP "&Ayuda"
    BEGIN
        MENUITEM "&Índice", IDM_HELPCONTENT
        MENUITEM "&Buscar ayuda sobre...", IDM_HELPSEARCH
        MENUITEM "Los atajos del &teclado", IDM_HELPKEYS
        MENUITEM SEPARATOR
        MENUITEM "&Registro...", IDM_REGISTER
        MENUITEM "&Acerca de...", IDM_ABOUT
    END
END

gsview_accel ACCELERATORS
BEGIN
    "A", IDM_OPEN
    "a", IDM_OPEN
    "C", IDM_CLOSE
    "c", IDM_CLOSE
    "+", IDM_NEXT
    " ", IDM_NEXTHOME
    VK_SPACE, IDM_NEXTHOME, VIRTKEY
    "-", IDM_PREV
    VK_BACK, IDM_PREVHOME, VIRTKEY
    VK_BACK, IDM_PREVHOME, VIRTKEY, SHIFT
    "P", IDM_GOTO
    "p", IDM_GOTO
    "N", IDM_INFO
    "n", IDM_INFO
    "T", IDM_REDISPLAY
    "t", IDM_REDISPLAY
    "G", IDM_SAVEAS
    "g", IDM_SAVEAS
    "I", IDM_PRINT
    "i", IDM_PRINT
#ifdef OLD
    VK_B, IDM_TEXTFIND, VIRTKEY, CONTROL
#else
    "^B", IDM_TEXTFIND
#endif
    VK_F3, IDM_TEXTFINDNEXT, VIRTKEY
    "E", IDM_EXTRACT
    "e", IDM_EXTRACT
    "M", IDM_GSMESS
    "m", IDM_GSMESS
    "<", IDM_MAGMINUS
    ">", IDM_MAGPLUS
    ",", IDM_MAGMINUS
    ".", IDM_MAGPLUS
    VK_F1, IDM_HELPCONTENT, VIRTKEY
    "^C", IDM_COPYCLIP
    VK_INSERT, IDM_COPYCLIP, VIRTKEY, CONTROL
    VK_F4, IDM_FULLSCREEN, VIRTKEY
    VK_F5, IDM_REDISPLAY, VIRTKEY
    VK_F6, IDM_FITWIN, VIRTKEY
END



STRINGTABLE
BEGIN
    /* general strings */
    IDS_SLANGUAGE "ES,2"
    IDS_CODEPAGE, "1252"    /* ISO-Latin-1 */
    IDS_HELPFILE, WINHELPFILE
    IDS_SOUNDNOMM, "No puedo cargar WINMM.DLL\nSonidos no disponibles"
END

STRINGTABLE
BEGIN
    /* filter strings */
#ifdef __WIN32__
    IDS_FILTER_PSALL, "Por defecto (*.ps;*.eps;*.epi;*.pdf;*.prn)|*.ps;*.eps;*.epi;*.pdf;*.prn;*.ps.gz;*.psz;*.eps.gz;*.epi.gz;*.pdf.gz;*.ps.bz2;*.eps.bz2;*.pdf.bz2|Archivos PS (*.ps)|*.ps;*.ps.gz;*.ps.bz2|Archivos EPS (*.eps)|*.eps;*.eps.gz;*.eps.bz2|Archivos EPI (*.epi)|*.epi;*.epi.gz;*.epi.bz2|Archivos PDF (*.pdf)|*.pdf;*.pdf.gz;*.pdf.bz2|Archivos PRN  (*.prn)|*.prn|Todos los archivos (*.*)|*.*|"
#else
    IDS_FILTER_PSALL, "Por defecto (*.ps;*.eps;*.epi;*.pdf;*.prn)|*.ps;*.eps;*.epi;*.pdf;*.prn|Archivos PS (*.ps)|*.ps|Archivos EPS (*.eps)|*.eps|Archivos EPI (*.epi)|*.epi|Archivos PDF (*.pdf)|*.pdf|Archivos PRN (*.prn)|*.prn|Todos los archivos (*.*)|*.*|"
#endif
    IDS_FILTER_PS, "Por defecto (*.ps)|*.ps|Archivos EPS (*.eps)|*.eps|Archivos EPI (*.epi)|*.epi|Todos los archivos (*.*)|*.*|"
    IDS_FILTER_EPS, "Archivos EPS (*.eps)|*.eps|Archivos EPI (*.epi)|*.epi|Archivos PS (*.ps)|*.ps|Todos los archivos (*.*)|*.*|"
    IDS_FILTER_EPI, "Archivos EPI (*.epi)|*.epi|Archivos EPS (*.eps)|*.eps|Archivos PS (*.ps)|*.ps|Todos los archivos (*.*)|*.*|"
    IDS_FILTER_PDF, "Archivps PDF (*.pdf)|*.pdf|Todos los archivos (*.*)|*.*|"
    IDS_FILTER_ALL, "Todos los archivos (*.*)|*.*|"
    IDS_FILTER_BMP, "Archivos Bitmap (*.bmp)|*.bmp|Todos los archivos (*.*)|*.*|"
    IDS_FILTER_TIFF, "Archivos TIFF (*.tif)|*.tif|Todos los archivos (*.*)|*.*|"
    IDS_FILTER_WMF, "Archivos Windows Metafile (*.wmf)|*.wmf|All Files (*.*)|*.*|"
    IDS_FILTER_TXT, "Archivos de texto (*.txt)|*.txt|Todos los archivos (*.*)|*.*|"
END
